In [1]:
import pandas as pd

In [2]:
class Ap():
    def __init__(self, num):
        self.num=num

In [3]:
aList=[]
for i in range(100):
    anAp=Ap(i+1)
    aList.append(anAp)

In [4]:
aList[-1].num

100

In [5]:
import pandas as pd

In [6]:
df=pd.DataFrame(columns=["p","q"])

In [7]:
df.loc[len(df.index)] = [1,2]

In [8]:
df

   p  q
0  1  2

In [9]:
df.loc[len(df.index)] = [1,2]

In [10]:
df

   p  q
0  1  2
1  1  2

In [11]:
df.loc[0] = [111,22]

In [12]:
df

     p   q
0  111  22
1    1   2

In [13]:
df.loc[1].q=333

In [14]:
df

     p    q
0  111   22
1    1  333